:root {
  --height-header: 3.2rem;
  --white: #fff;
  --grey: #f7f7f7;
  --dark: #303846;
  --green: #219161;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
  line-height: 25px;
}

.bg-white {
  background-color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-dark {
  background-color: var(--dark);
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--dark);
}

.flex {
  display: flex;
}

.al-self-start {
  align-self: flex-start;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.text-al-left {
  text-align: left;
}

.fw-bold {
  font-weight: bold;
}

.m-left-1em {
  margin-left: 1em;
}

.padding-left-right-50px {
  padding-left: 50px;
  padding-right: 50px;
}

.wh-30 {
  width: 30%;
}

.wh-50 {
  width: 50%;
}

.header {
  height: var(--height-header);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 2em;
}

.f-grow-1 {
  flex-grow: 1;
}

.nav {
  flex-direction: row;
  text-align: center;
  margin-left: 2em;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
}

.margin-header-height {
  margin-top: var(--height-header);
}

.container {
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 30px;
}

.big-bg-section {
  justify-content: center;
  text-align: center;
  background: var(--dark) url("images/banner.png") center 65%;
}

h1 {
  font-size: 3em;
}

.item-img {
  max-width: 100%;
  text-align: left;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset-booking {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: var(--green);
  border-image: initial;
  width: 350px;
  line-height: 2em;
  margin: 0 auto;
}

.legend-text {
  color: var(--green);
  text-align: left;
}

.field-apartment-parameters {
  border-radius: 10px;
  height: 25px;
  width: 150px;
}

.field-contact-information {
  border-radius: 10px;
  height: 20px;
  width: 160px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  margin-top: 20px;
}

.btn-white {
  border: 2px solid var(--white);
  color: var(--white);
}

.btn-green {
  border: 2px solid var(--green);
  color: var(--green);
}

.copy {
  text-align: start;
  font-size: 12px;
}

.height-2em {
  height: 2em;
}

.height-150 {
  height: 150px;
}

.wh-300 {
  width: 300px;
}
