body {
    font-family: sans-serif;
    font-size: 16px;
    color: #303846;
}

header {
    background-color: #ffffff;

}

.flex-container {
    display: flex;
    align-items: center;

}
.flex-container div {
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}
li {
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
}

.logo {
    justify-content: flex-start
}

.nav {
    justify-content: flex-end;
}